@using EducationCode.Models;

@{ 
    NGUOIDUNG sesnguoidung = (NGUOIDUNG)Session["NguoiDung"];
}
@{
    Layout = null;
}

<section class="w3l-top-header-content">
    <div class="hny-top-menu">
        <div class="top-hd">
            <div class="container-fluid">
                <div class="row">
                    <ul class="social-top col-md-7">

                        @if (sesnguoidung != null)
                        {
                            <li>
                                <a class="sign-in" href="#" data-toggle="modal" data-target="#exampleModal" style="color:black;font-size:16px;font-family:sans-serif; margin-right:10px">
                                    <span class="fa fa-user"></span>
                                   Chào: @sesnguoidung.TENDANGNHAP
                                </a>
                                <a href="@Url.Action("DangXuat","DangXuat")">
                                    Đăng xuất
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="sign-in" href="#" data-toggle="modal" data-target="#exampleModal" style="color:black;font-size:16px;font-family:sans-serif; margin-right:10px">
                                    <span class="fa fa-user"></span>
                                    Đăng nhập
                                </a>
                            </li>
                        }
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a> </li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="accounts col-md-5">
                        <li class="top_li">
                            <span class="fa fa-mobile"></span><a href="tel:+0367278221">
                                +0367278221

                            </a>
                        </li>

                        <li class="top_li mr-lg-0">
                            <span class="fa fa-envelope-o"></span><a href="mailto:info@example.com">Bạn cần giúp đỡ? Liên hệ chúng tôi </a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main">

    <div class="bannerhny-content">
        <header class="top-headerhny">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/TrangChu">
                        <label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Code</label>Shark
                    </a>
                    <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Giới thiệu</a>
                            </li>
                            @Html.Action("DanhSachKhoaHoc", "Menu")
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Tài liệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LienHe/LienHe">Liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LienHe/LienHe">Blog</a>
                            </li>

                        </ul>

                    </div>
                    <form action="#" method="post" class="d-flex searchhny-form">
                        <input type="search" placeholder="Tìm kiếm....." required="required">
                        <button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </nav>
            <!--//nav-->
        </header>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">

                        <h3>Bạn thích lập trình</h3>
                        <h4>Những không biết bắt đầu từ đâu</h4>
                        <div class="button-4 mx-auto">
                            <div class="eff-4"></div>
                            <a href="services.html">Học ngay</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <!--//banner-slider-->
</section>
