
@{
    Layout = null;
}
<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">

                <h3>Bạn thích lập trình</h3>
                <h4>Những không biết bắt đầu từ đâu</h4>
                <div class="button-4 mx-auto">
                    <div class="eff-4"></div>
                    <a href="services.html">Học ngay</a>
                </div>

            </div>
        </div>
    </div>
</div>
