@using EducationCode.Models;
@model List<TINCONGNGHE>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/assets/css/style-starter.css" rel="stylesheet" />
<!--Menu-->
<h1 class="text-center text-danger display-3">Tin công nghệ</h1>
<img src="~/Content/assets/imagesapi/anhnen2.jpg" style="width:80%;height:300px;margin-left:150px;" />

@foreach (var n in Model)
{
        <!--Phải-->
<div style="margin-left:140px;">
    <a href="@Url.Action("ChiTietTCN","ChiTietTinCongNghe", new {machitiet = n.MATCN })">
        <div class="card col-3" style="width:250px; float:left;margin-top:15px; margin-left:20px;">
            <img class="card-img-top" src="~/Content/assets/imagesapi/@n.ANH" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font-weight-bold display-4" style="color:black">@n.TENTCN</h5>
                <p class="card-text" style="color:black">@n.NOIDUNG</p>
                <p class="btn btn-outline-primary display-3" style="width:100%;">Xem nội dung</p>
            </div>
        </div>
    </a>
</div>
}