@using EducationCode.Models;
@model List<NGUOIDUNG>
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Layout/LayoutNGUOIDUNG.cshtml";
}
@{ 
    NGUOIDUNG nd = (NGUOIDUNG)Session["NguoiDung"];
}
@if(nd !=null)
{
    Response.Redirect("/TrangChu/Index")
}
else
{
    using (Html.BeginForm("DangNhap", "NguoiDung", FormMethod.Post))
    {
        @ViewBag.ThongBao
        <h1>Development</h1>
    }
}


