@using EducationCode.Models
@model List<KHOAHOC>
<section class="w3l-content-6">
    <!-- /content-6-section -->
    <div class="content-6-mian py-5">
        <div class="anhBanner">
        </div>
        <br />
        <br />
        <h1>KHÓA HỌC XEM NHIỀU</h1>
        <div class="row mt-md-5">
            @foreach (var item in Model.OrderByDescending(n => n.LUOTXEM).Take(4))
            {
                <div class="col-lg-3 col-md-6 imghrs" style="margin-top:1%;">
                    <a class="imghr" href="@Url.Action("ChiTietBaiVietXN","ChiTietKhoaHoc", new {makhoahoc = item.MAKHOAHOC})">
                        <img src="~/Content/assets/images/@item.ANHKHOAHOC" class="img-fluid" alt="" style="height:270px">
                        <div class="details"><span class="title">@item.TENKHOAHOC</span><span class="info">@item.TACGIA</span></div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!--TEXT-->