@using EducationCode.Models;
@model List<KHOAHOC>

<section class="w3l-content-6">
    <!-- /content-6-section -->
    <div class="content-6-mian py-5">
            <div class="anhBanner">

            </div>
            <div class="row mt-md-5" >

                @foreach (var item in Model.OrderByDescending(n => n.LUOTXEM).Take(4))
                {
                <div class="card" style="margin-left:1%; border-style:none;">
                        <div class="card" style="width: 18rem;border-style:none">
                            <img class="card-img-top" src="~/Content/assets/images/@item.ANHKHOAHOC" style="width:286px;height:220px;"  >
                            <div class="card-body">
                                <h5 class="card-title">@item.TENKHOAHOC</h5>
                                <p class="card-text">@item.NOIDUNG</p>
                                <a href="@Url.Action("ChiTietBaiVietXN","ChiTietKhoaHoc", new {makhoahoc = item.MAKHOAHOC})" style="color:blue; text-decoration:underline;">Tìm hiểu thêm</a>
                            </div>
                        </div>
                </div>
                }
            </div>
        </div>

</section>
<!--TEXT-->
