@using EducationCode.Models;
@model List<tbKHOAHOC>
@{
    ViewBag.Title = "LocTatCaKhoaHoc";
    Layout = "~/Views/Layout/Layout.cshtml";
}


<section class="w3l-content-6">
    <!-- /content-6-section -->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row mt-md-5 mt-4">

                @foreach (var item in Model.OrderByDescending(n => n.NgayDang))
                {
                    <div class="col-lg-3 col-md-6 imghrs" style="margin-top:1%;">
                        <a class="imghr" href="#">
                            <img src="~/Content/assets/images/@item.AnhKhoaHoc" class="img-fluid" alt="">
                            <div class="details"><span class="title">@item.TenKhoaHoc</span><span class="info">@item.GioiThieu</span></div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

