
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}


@Html.Action("Menu", "Menu")
@Html.Action("LocKhoaHocMoiNhat", "LocKhoaHoc")
@Html.Action("LocKhoaHocXemNhieu", "LocKhoaHoc")
<section class="w3l-video-main">
    <!-- /video-6-->
    <div class="video-66-info">
        <div class="container-fluid">
            <div class="video-grids-info row">
                <div class="video-gd-right col-lg-8">
                    <div class="video-inner history-info text-center">
                        <!--popup-->
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/RlBkvjVss-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <!--//popup-->
                    </div>
                </div>
                <div class="video-gd-left col-lg-4 p-lg-5 p-4">
                    <div class="p-xl-4 p-0 video-wrap">
                        <h3 class="hny-title text-left">
                            Học trực tuyến để khám phá các khóa học.
                        </h3>
                        <p>Tư vấn miễn phí , hỗ trợ tận tình cho các bạn có tình thần đam mê, muốn học hỏi</p>
                        <div class="button-4-pink">
                            <div class="eff-4-pink"></div>
                            <a href="services.html">Tham gia ngay</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>