@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@Html.Action("LocKhoaHocMoiNhat", "LocKhoaHoc")
<div style="margin-top:48px;">
    <img src="~/Content/assets/images/Banner2.jpg" style="width:100%;height:500px;" />
</div>
@Html.Action("LocKhoaHocXemNhieu", "LocKhoaHoc")