@using EducationCode.Models;
@model TINCONGNGHE



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
   
    <div>
        <img src="~/Content/assets/imagesapi/Banner3.png" style="width:80%; height:300px; margin-left:150px;" />
        <h1 class="text-center">Chủ đề: @Model.TENTCN</h1>
        <img src="~/Content/assets/imagesapi/@Model.ANH" style="width:40%; height:500px;" />
        <div style="margin-left:100px;">
            <p>@Model.NOIDUNG</p>
            <p class="text-primary">Ngày đăng @Model.NGAYDANG</p>
            <p class="text-primary">Tác giả  @Model.TACGIA</p>
        </div>
    </div>
